body {
	font-family: 'Roboto', sans-serif;
}

.notification {
	border: 2px solid #0785ba;
	border-radius: 10px;
	background-color: #cce5f0;
	width: 40%;
	padding: 20px;
	font-size: 20px;
	font-weight: 500;
	margin-bottom: 30px;
}

.notification__data {
	text-align: right;
}



.grid{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-auto-rows: 300px;
	grid-gap: 20px;
	width: 100vw;
	margin: auto;
	margin-top: 20px;
	background-color: #e5e4e1;
	padding: 10px;
}

.grid__cell {
	
	margin: 0;
	background-color: #fff;
	text-decoration: none;
	color:#333;


}

.grid__icon {
	width: 100%;
	height: 80%;
	text-align: center;

}

.grid__image {
	
	height: 100%;

	margin: auto;
	font-size: 200px;
	vertical-align: middle;
	color: #fff;
}

.grid__info {
	width: 100%;
	height: 20%;
	box-shadow: 0 5px 10px #666;
	background-color: #fff;
}

.grid__name {
	height: 50%;
	margin: 0;
	padding-left:20px;
	font-size: 20px;


}

